__pycache__/
*.py[cod]
*.so

.venv/
venv/
env/

*.egg-info/
build/
dist/
pip-wheel-metadata/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.ipynb_checkpoints/

.vscode/
.idea/
.DS_Store
